* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --bg-color: #f7f8fa;
  --font-color-pri: #20293b;
  --font-color-sec: #4d5e80;
  --link-color: #00152b;
  --white: #ffffff;
  --btn-bg: #8833ff;
  --color1: #8833ff;
  --color2: #f00039;
  --color3: #ed7245;
  --color4: #776767;
  --color-table-border: #f7f8fa;

  --color-warning: #ff9800;
  --color-critical: #f44336;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color-pri);
}

header {
  background-color: var(--white);
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2000;
}

button {
  background-color: var(--btn-bg);
  color: white;
  padding: 0.8rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  margin: 0.2rem;
}
button:focus {
  outline: none;
}

p span {
  color: var(--font-color-sec);
}
h3 {
  color: var(--font-color-sec);
  font-size: 1.2rem;
}
h5 {
  color: var(--font-color-sec);
}

h2 {
  font-size: 3rem;
}
ul {
  list-style: none;
}
ul.breadcrumb {
  padding: 2rem 0rem 0rem 3rem;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: var(--link-color);
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  text-align: left;
  padding: 0.8rem;
  border-bottom: 2px solid var(--color-table-border);
}

tr:hover {
  background-color: var(--color-table-border);
}
/*Custom Class*/
.warning {
  background-color: var(--color-warning);
}
.error {
  background-color: var(--color-critical);
}
.critical {
  background-color: var(--color-critical);
}

.warning,
.critical,
.error {
  color: var(--white);
  padding: 0.4rem;
  border-radius: 0.3rem;
  margin-right: 0.4rem;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo h1 {
  margin-left: 1rem;
}

.logo img {
  width: 3rem;
}
.content {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

.content-left {
  width: 70%;
  padding-right: 2rem;
}

.content-right {
  width: 30%;
}

.server-details {
  margin-bottom: 2rem;
}
.server-details table tr {
  background-color: #fafafa;
  text-align: left;
}
#server-detail {
  background-color: #0041c3;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.check-time {
  margin-right: 1rem;
}

.main-grid-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-item {
  background-color: var(--white);
  border-radius: 0.2rem;
  position: relative;
  padding: 2rem;
  cursor: pointer;
}
.data {
  grid-column: 1/4;
}
.card {
  background-color: var(--white);
  border-radius: 0.2rem;
  position: relative;
  padding: 2rem;
}

.mt {
  margin-top: 2rem;
}

.grid-item h3 {
  margin-bottom: 0.5rem;
}

.grid-item:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.pie-chart {
  grid-column: 4;
  grid-row: 1 / span 3;
}

.icon {
  width: 1.5rem;
  fill: #ffffff;
  padding: 0;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.color1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0.5rem;
  background-color: var(--color1);
  border-radius: 0.2rem 0 0 0.2rem;
}

.color1 h2 {
  color: var(--color1);
}

.color2::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0.5rem;
  background-color: var(--color2);
  border-radius: 0.2rem 0 0 0.2rem;
}

.color2 h2 {
  color: var(--color2);
}

.color3::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0.5rem;
  background-color: var(--color3);
  border-radius: 0.2rem 0 0 0.2rem;
}

.color3 h2 {
  color: var(--color3);
}

.color4::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0.5rem;
  background-color: var(--color4);
  border-radius: 0.2rem 0 0 0.2rem;
}

.color4 h2 {
  color: var(--color4);
}
.chart {
  width: 20%;
  margin: auto;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Loading Animation*/
@keyframes ldio-rpinwye8j0b {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-rpinwye8j0b div {
  position: absolute;
  animation: ldio-rpinwye8j0b 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #e15b64;
  transform-origin: 80px 82px;
}
.loadingio-eclipse {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}
.ldio-rpinwye8j0b {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-rpinwye8j0b div {
  box-sizing: content-box;
}
